.drop_background {
   display: none;
   position: fixed;
   height: 100vh;
   width: 100vw;
   top: 0px;
   left: 0px;
   z-index: 10;
   cursor: auto;
}
 
.drop_background.active {
   display: block;
}
 
.drop {
   position: absolute;
   display: none;
   z-index: 999;
}
 
.drop.active {
   display: block;
   
}
 
.drop_content {
   position: relative;
   right: 30px;
   top: 10px;
   height: 115px;
   width: 190px;
   background-color: rgba(255, 255, 255, 1);
   border-radius: 4px;
   box-shadow: 0 0px 10px rgba(92, 92, 92, 0.2);
   z-index: 999;

}

.dropdown_opitons {
   position:absolute;
   padding: 15px;
   box-sizing: border-box;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap;
}


.not_chosen_text {
   color: rgba(0, 0, 0, 0.2 );
   margin-bottom: 0;
   display: flex;
   
}

