
.drop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0);
    
}

.drop.active {
    transform: scale(1);
}

.drop_content {
    position: absolute;
    right: 60px;
    top: 20px;
    height: 130px;
    width: 200px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 7px;
    box-shadow: 0 0px 10px rgba(92, 92, 92, 0.2); 
    border: 2px solid rgb(19, 156, 236);
         
}

.not_chosen_text {
    color: rgba(0, 0, 0, 0.2 );
    margin-bottom: 20px;
}

