 

.titles {
    position: absolute;
    display: flex;
    margin: 0;
    top: 10.5px;
    bottom: 16.5px;
    left: 45px;
    padding: 6px 20px 6px 20px;
    width: 450px;
    height: 30px;
    justify-content: space-between;
}

.text {
    position: relative; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.2mm;
    text-decoration: none;
    margin: auto;
    margin-right: 0;
    display: inline-block; 
    color: #dedede; 
}

.active {
    color: #282828; 
}

.square {
    position: absolute;
    background-color: #6b7df0;
    bottom: -53px;
    width: 120%;
    height: 40px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.square_off {
    display: none;
}

