 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.titles {
    position: absolute;
    display: flex;
    margin: 0;
    top: 10.5px;
    bottom: 16.5px;
    left: 45px;
    padding: 6px 20px 6px 20px;
    width: 400px;
    height: 30px;
    justify-content: space-between;
}

.text {
    position: relative; 
    margin: auto;
    margin-right: 0;
    display: inline-block; 
    color: #cccccc; 
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.2mm;
    text-decoration: none;
}

.active {
    color: #282828; 
}

.square {
    visibility: hidden;
}

.active .square {
    visibility: visible;
    position: absolute;
    background-color: #6b7df0;
    bottom: -45px;
    width: 120%;
    height: 40px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
}



