

.users {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 2rem auto;
    box-shadow: 0 5px 10px rgba(146, 146, 146, 0.2);    
    margin-bottom: 1.6%;
    border-radius: 4px;
    background-color: white;
    font-family: sans-serif;
    padding: 1px;
    height: 4.5vw;
    width: 93vw;
}

.circular__landscape {
    display: inline-block;
    position: relative;
    top: 15px; /* Как улучшить  */
    left: 10px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.image {
    width: auto;
    height: 100%;
    margin-left: -25%;
}

.block_img_name_balance {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: tomato;
}

.name {
    position: absolute;
    top: 40%;
    left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.balance {
    position: absolute;
    top: 40%;
    left: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.last_seen {
    position: absolute;
    top: 40%;
    right: 20%;
    color: #b3b2b2;
    font-family: Arial, Helvetica, sans-serif;
}

.status {
    position: absolute;
    top: 40%;
    right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
    
